.ChoiceLabel {
	font-size: 15px;
	padding-top: 0px;
	padding-left: 1px;
}

.enumHide {
	width: 70px;
}

.node #title {
	background-color: #a58c00;
}

.node #title #title-label {
	color: white;
}